
<div class="text-center fw-semibold pt-4">
<h1>Edit Movie</h1>
</div>
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
<%= form_with(model: @movie, local: true, class:"row g-3", data: { turbo: false }) do |form| %>
  
  <div class="col-12">
  <%= form.label :title, 'Title' %>
  <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="col-md-6">
  <%= form.label :year, 'Year of release' %>
  <%= form.number_field :year, class: 'form-control' %>
  </div>

  <div class="col-md-6">
  <%= form.label :genre_id %>
  <%= form.collection_select :genre_id, Genre.all, :id, :genre, { prompt: true }, class: 'form-select' %>
  </div>

  <div class="col-12">
  <%= form.label :description %>
  <%= form.text_area :description, class: 'form-control' %>
  </div>
  

    <h5>Select Actors</h5>
    <input type="text" id="actor-search" placeholder="Search actors">
    <div class="actor-list" data-mdb-perfect-scrollbar='true'>
  <%= form.collection_check_boxes :cast_ids, Cast.all, :id, :name do |b| %>
    <div class="form-check">
      <%= b.check_box(class: 'form-check-input') %>
      <%= b.label(class: 'form-check-label') %>
    </div>
  <% end %>
</div>


  <div id="castInputContainer"><br/></div>
  

  <%= form.submit 'Submit', class: 'btn btn-primary' %>
  
<% end %>
<br/>
<button id="addCast" class="btn btn-dark" type="button" onclick="addCast()">Add another cast</button>

</div>
</div>
</div>

<script>
  let castIdCounter = 0;


const addCast = () => {
  castIdCounter++;

  const container = document.querySelector("#castInputContainer");



  // Use Rails' `render` method to generate the HTML from the partial
  const partialHTML = '<%= j(render(partial: 'actor_fields')) %>';
  const div = document.createElement("div");
  div.innerHTML = partialHTML;

  const actorDetails = div.querySelector(".actor-details");
  actorDetails.id = `cast_${castIdCounter}`;

  container.appendChild(actorDetails);

  const removeButton = actorDetails.querySelector(".remove-actor");
  removeButton.addEventListener("click", () => {
    container.removeChild(actorDetails); // Remove the actor detail field
  });
};

  document.addEventListener("DOMContentLoaded", () => {
  const actorList = document.querySelector(".actor-list");
  const actorSearch = document.querySelector("#actor-search");

  actorSearch.addEventListener("input", () => {
    const searchTerm = actorSearch.value.toLowerCase();
    const checkboxes = actorList.querySelectorAll(".form-check");

    checkboxes.forEach((checkbox) => {
      const actorName = checkbox.querySelector(".form-check-label").textContent.toLowerCase();
      checkbox.style.display = actorName.includes(searchTerm) ? "block" : "none";
    });
  });
});

</script>

